
/* Imagens: Novidades no Cardapio */
.img > img{
  width: 300px;
  list-style: none;
}


.flex{
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
}

.flex > div {
  flex: 1 1 300px;
  margin: 10px;
}
/* ! */

.imag > img{
  width: 300px;
  list-style: none;
}

.flexbox{
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
}

.flexbox > div{
  flex: 1 1 300px;
  margin: 10px;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #ff8c00;
    color: white;
    padding: 20px;
  }

  .column {
    flex: 1;
    padding: 0 20px;
  }

  .column h3 {
    margin-bottom: 10px;
  }

  .column ul {
    list-style-type: none;
    padding: 0;
  }

  .column ul li {
    margin-bottom: 5px;
  }

Body{
    background: black;
}

.truco{
    position: absolute;
    top: 1250px;
}

.lombo{
    position: absolute;
    top: 2050px;
}

.rocambole{
    position: absolute;
    top: 2950px;
}

.voltar{
    position: absolute;
    top: 3160px;
    left: 630px;
}

