.Ancora{
    display: flex;
    flex-wrap: nowrap;

}

.Ancora{
    display: flex;
    flex-wrap: nowrap;
}

.Ancora{
    display: flex;
    flex-wrap: nowrap;
}

.home{
    position: absolute;
    top: 940px;
    left: 70px;
}

.home1{
    position: absolute;
    top: 940px;
    left: 530px;
}

.home2{
    position: absolute;
    top: 940px;
    left: 1000px;
}

.queridinhos{
    position: absolute;
    top: 1270px;
    max-width: 100%;
}

.queridinhos1{
    position: absolute;
    top: 2060px;
    max-width: 100%;
}

/* .brasilburguer{
    position: absolute;
    top: 2980px;
    left: 40px;
}

.fritascheddarbacon{
    position: absolute;
    top: 2980px;
    left: 516px;
}

.bebidas{
    position: absolute;
    top: 2980px;
    left: 990px;
} */

.lastimg{
    display: flex;
    justify-content: space-around;
    padding: -20px;
}

.agua{
    flex: 2;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #ff8c00;
    color: white;
    padding: 20px;
}

  .column {
    flex: 1;
    padding: 0 20px;
}

  .column h3 {
    margin-bottom: 10px;
}

  .column ul {
    list-style-type: none;
    padding: 0;
}

  .column ul li {
    margin-bottom: 5px;
}

Body{
    background: black;
}

.truco{
    position: absolute;
    top: 1250px;
}

.lombo{
    position: absolute;
    top: 2050px;
}

.rocambole{
    position: absolute;
    top: 2950px;
}

.voltar{
    position: absolute;
    top: 3160px;
    left: 630px;
}

